html {
  font-size: 62.5%;
  font-family: sans-serif;
  text-align: center;
}

.quiz {
  background: #f1f1f1;
  font-size: 2rem;
  color: #333;
}

.quiz__wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  max-width: 960px;
  background-color: #9dd2ac;
}

.quizTitle {
  background: #bce2e8;
  font-size: 2.4rem;
}

.quizContents {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  background-color: #c3e8a1;
}

.quizStart,
.quiz__end {
  padding: 20px 0;
}

.quizStart__startBtn,
.quiz__retryBtn,
.quizContents__choices {
  display: block;
  margin: 10px auto 0;
  border: none;
  background-color: #bce2e8;
  font-size: 2rem;
  color: #333;
  outline-style: none;
}

.quizContents__choices--correct {
  font-weight: bold;
}

.quizContents__choices--incorrect {
  text-decoration: line-through;
}

.quizImage {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.quizImage__capitalImg {
  display: block;
  width: 100%;
}

.quiz__start,
.quiz__wrapper,
.quiz__end {
  display: none;
}

.quiz__start--active,
.quiz__wrapper--active,
.quiz__end--active {
  display: block;
}
